/************* Boaz formating start *************/

.topbar-area-3 .topbar-left span,
.navbar-area.navbar-area-3 .nav-container .navbar-collapse .navbar-nav>li:hover {
    background: #a71b20;
}

.section-title.section-title-4.style-3,
.back-to-top,
.dot1,
.dot2 {
    background: #DD1C1A;
}

.section-title.section-title-4 {
    background: #3772FF;
}

.section-title.section-title-4.style-2 {
    background: #08090A;
}

.preloader-inner {
    background: linear-gradient(100deg, #226CE0, #f4f6ff, #226CE0);
    background-size: 180% 180%;
    animation: gradient-animation 7s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.boaz-page-link {
    font-size: 2vw;
    background: #dd1d19;
    color: #fff;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.boaz-page-link:hover {
    background: transparent;
    border: 2px solid #dd1d19;
    color: #dd1d19;
}


/************* header start *************/

.main-logo img {
    width: 43%;
}


/************* header end *************/


/************* navbar start *************/

.container.nav-container {
    text-align: center;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:before,
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:after {
    display: none;
}

.navbar-area.navbar-area-3 .nav-container .navbar-collapse .navbar-nav>li a {
    padding: 1.3rem;
}

.navbar-area.navbar-area-3 .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children,
.navbar-area.navbar-area-3 .nav-container .navbar-collapse .navbar-nav>li {
    padding: 0;
}


/************* navbar end *************/


/************* post-banner start  *************/

iframe {
    height: 100%;
    width: 100%;
}

.top-post-wrap .thumb {
    height: 100%;
}

.top-post-wrap {
    position: relative;
    margin-bottom: 30px;
    height: 330px;
}

.top-post-wrap-4--height-formating {
    height: 96%;
}

.monday-lessons {
    height: 280px;
}


/************* black shadow from the video box *************/

.post-banner-area-3 .top-post-wrap-4 .thumb .overlay {
    display: none;
}

.top-fashion-area {
    margin-bottom: 4rem;
}


/************* counter box *************/

.love_counter {
    text-align: center;
    font-size: 2.5vw;
}

.love_count {
    margin-bottom: 1rem;
    color: #210124;
    font-weight: 600;
}


/************* post-banner end *************/


/************* footer start  *************/

.footer-area .footer-top {
    padding: 50px 0 50px 0;
}

.footer-top .row {
    display: none;
}


/************* footer end *************/


/************* Media start *************/

@media screen and (max-width: 767px) {}


/************* Boaz formating end *************/