/************* Boaz formating start *************/

.inserted-alert-success {
    display: none;
}

.inserted-alert-success__p {
    padding: 0.5em 0 0 0;
    font-weight: 600;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.linear-gradient {
    background: linear-gradient(100deg, #241023, #a71b20, #241023) !important;
    background-size: 180% 180% !important;
    animation: gradient-animation 10s ease infinite;
}

.topbar-area-3 .topbar-left span,
.navbar-area.navbar-area-3 .nav-container .navbar-collapse .navbar-nav>li:hover {
    background: linear-gradient(100deg, #241023, #a71b20, #241023);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
}

.section-title.section-title-4.style-3,
.back-to-top,
.dot1,
.dot2 {
    background: #DD1C1A;
}

.section-title.section-title-4 {
    background: #3772FF;
}

.section-title.section-title-4.style-2 {
    background: #08090A;
}

.preloader-inner {
    background: linear-gradient(100deg, #226CE0, #f4f6ff, #226CE0);
    background-size: 180% 180%;
    animation: gradient-animation 7s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.boaz-page-link {
    font-size: 2vw;
    background: #dd1d19;
    color: #fff;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.boaz-page-link:hover {
    background: transparent;
    border: 2px solid #dd1d19;
    color: #dd1d19;
}


/************* header start *************/

.main-logo img {
    width: 43%;
}


/************* header end *************/


/************* navbar start *************/

.container.nav-container {
    text-align: center;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:before,
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:after {
    display: none;
}

.navbar-area.navbar-area-3 .nav-container .navbar-collapse .navbar-nav>li a {
    padding: 1.3rem;
}

.navbar-area.navbar-area-3 .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children,
.navbar-area.navbar-area-3 .nav-container .navbar-collapse .navbar-nav>li {
    padding: 0;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav {
    width: 100%;
    padding: 1em;
}


/************* navbar end *************/


/************* splide start *************/

.splide__list {
    height: 90vh;
}

.splide__slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.splide__slide__bg-box {
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.splide__slide__text-box {
    top: 29%;
    left: 7em;
}

.splide__slide__text-box__h1,
.splide__slide__text-box__h2,
.splide__slide__text-box__h3,
.splide__slide__text-box__p,
.splide__slide__text-box__p__i {
    color: #fff;
    letter-spacing: 7px;
    font-family: 'Lemon', cursive;
}

.splide__slide__text-box__h1 {
    font-size: 10vh;
}

.splide__slide__text-box__h2 {
    font-size: 6.7vh;
}

.splide__slide__text-box__h3 {
    font-size: 6.5vh;
}

.splide__slide__text-box__p__i {
    font-size: 3vh;
    font-weight: 400;
}

.splide__arrow {
    background: transparent;
}

.splide__arrow svg {
    fill: #fff;
    height: 5.5em;
    width: 5.5em;
}


/************* splide end *************/


/************* post-banner start  *************/

.post-banner-area-3 {
    padding-top: 4.3em !important;
}

iframe {
    height: 100%;
    width: 100%;
}

.top-post-wrap .thumb {
    height: 100%;
}

.top-post-wrap {
    position: relative;
    margin-bottom: 30px;
    height: 330px;
}

.top-post-wrap-4--height-formating {
    height: 96%;
}

.monday-lessons {
    height: 280px;
}

.tag {
    display: none;
}


/************* black shadow from the video box *************/

.post-banner-area-3 .top-post-wrap-4 .thumb .overlay {
    display: none;
}

.top-fashion-area {
    margin-bottom: 4rem;
}

.thumb .overlay {
    height: 0 !important;
}


/************* counter box *************/

.love_counter {
    text-align: center;
    font-size: 2.5vw;
}

.love_count {
    margin-bottom: 1rem;
    color: #210124;
    font-weight: 600;
}


/************* hot-news Start *************/

.top-fashion-area__container--d-none {
    display: none;
}


/************* post-banner end *************/


/************* footer start  *************/

.footer-area .footer-top {
    padding: 50px 0 50px 0;
}

.footer-top .row {
    display: none;
}

.copyright-area__p {
    padding-bottom: 1.3em;
}


/************* footer end *************/


/************* application form start  *************/

.application-form-content {
    margin-top: 4em;
}

.application-form-content__btn-box {
    width: 60%;
    margin: auto;
    margin-top: 3.5em;
}

.application-form-content__btn-box__btn {
    background: linear-gradient(to right, #241023 0%, #a71b20 100%) !important;
}

.application-form-content__btn-box__btn:hover {
    background: transparent !important;
    border: 1.3px solid #a71b20;
    color: #a71b20 !important;
    text-transform: uppercase;
}

.contact-area-wrap .contact-form .btn:before {
    background: unset;
}


/************* application form end  *************/


/************* data processing content start  *************/

.data-processing-content__h4 {
    margin: 0 0 1em 0;
}


/************* data processing content end  *************/


/************* Media start *************/

@media screen and (max-width: 991px) {
    iframe {
        height: 200px;
    }
    h2 {
        font-size: 30px;
    }
    .nav-right-part-mobile {
        display: none;
    }
    .navbar-area-3 .nav-container .toggle-btn,
    .navbar-area.navbar-area-2 .nav-container .toggle-btn {
        background: #a71b20;
        width: 40px;
        top: 2em;
        right: 15px;
    }
    .toggle-btn .icon-right {
        width: 17px;
    }
    .main-logo img {
        width: 100%;
        bottom: 10px;
        position: relative;
    }
    .top-post-wrap {
        height: 60%;
    }
    .love_counter {
        text-align: center;
        font-size: 43px;
    }
    .boaz-page-link {
        font-size: 23px;
    }
}

@media screen and (max-width: 767px) {
    .splide__list {
        height: 100%;
    }
    .splide__slide__text-box {
        top: 25%;
        left: 3.3em;
    }
    .splide__slide__text-box__h1,
    .splide__slide__text-box__h2,
    .splide__slide__text-box__h3,
    .splide__slide__text-box__p,
    .splide__slide__text-box__p__i {
        letter-spacing: 3px;
    }
    .splide__slide__text-box__h1 {
        font-size: 29px;
    }
    .splide__slide__text-box__h2,
    .splide__slide__text-box__h3 {
        font-size: 20px;
    }
    .splide__slide__text-box__p__i {
        font-size: 13px;
    }
    .splide__arrow--prev {
        left: 0.3em;
    }
    .splide__arrow--next {
        right: 0.3em;
    }
    .splide__slide__bg-box {
        opacity: 0.87;
    }
    .topbar-area-3 .topbar-left {
        display: flex;
        flex-direction: column;
    }
    .topbar-area-3 .topbar-left span,
    .navbar-area.navbar-area-3 .nav-container .navbar-collapse .navbar-nav>li:hover {
        font-size: 20px;
        padding: 0.5em 0.7em;
        width: 100%;
        margin: auto;
        margin-bottom: 1em;
    }
    .topbar-area-3 .topbar-left span,
    .navbar-area.navbar-area-3 .nav-container .navbar-collapse .navbar-nav>li a:hover {
        color: #fff;
    }
    .cart-header,
    .search.header-search {
        display: none;
    }
    .main-logo img {
        width: 100%;
    }
    .contact-area-wrap h3 {
        font-size: 22px;
    }
}


/************* Boaz formating end *************/