.post-banner-area {
	padding-top: 30px;
    .media-post-wrap-2 {
        padding: 17px 0 30px;
        border-radius: 20px;
        h6 {
            &:hover {
                text-decoration: none !important;
            }
            a {
                font-size: 18px;
                color: #292929;
                transition: $transition;
                font-weight: 600;
                margin-bottom: 6px;
            }
        }
        .meta {
            font-size: 14px;
            margin-bottom: 17px;
            color: #292929;
            transition: $transition;
        }
        .tag {
            transition: $transition;

        }
        &:hover {
            background: $color-pink;
            .meta,
            h6 a {
                color: #ffffff;
            }
            .tag {
                background: #ffffff;
                color: $color-pink;
            }
        }
    }
    &.post-banner-area-2 {
        .banner-slider {
            margin-bottom: 40px;
            .item {
                .top-post-wrap {
                    .thumb {
                        .overlay {
                            border-radius: 10px;
                        }
                    }
                    .top-post-details {
                        left: 30px;
                        h6 {
                            color: #ffffff;
                            margin-top: 11px;
                            font-weight: 600;
                        }
                        .meta {
                            i {
                                color: $color-pink;
                            }
                        }
                    }
                }
            }
            .owl-dots {
                display: none;
            }
            .owl-nav {
                display: block;
                button {
                    border-radius: 50%;
                    background-color: #6a14d1;
                    width: 60px;
                    height: 60px;
                    border: 0;
                    cursor: pointer;
                    top: 50%;
                    position: absolute;
                    margin-top: -30px;
                    left: -89px;
                    transition: all 0.4s ease-in;
                    span {
                        color: #fff;
                        font-size: 24px;
                    }
                    &:hover {
                        background: #ff1d5b;
                    }
                    &.owl-next {
                        left: auto;
                        right: -89px;
                    }
                }
            }
        }
    }

}
.post-banner-area-3 {
    .top-post-wrap .top-post-details .meta .date i,
    .top-post-wrap .top-post-details .meta i {
        color: #dfb50b;
    }
    .top-post-wrap-4 .thumb .overlay {
        border-radius: 10px;
    }
}
.trending-news-area {
	position: relative;
    border-top: 1px solid #fafafa;
    padding: 15px 0 14px;
	span {
        line-height: initial;
		display: inline-block;
        font-weight: 700;
        color: #383838;
        margin-right: 20px;
	}
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-flex;
        li {
          display: inline-block;
          position: relative;
          padding-left: 16px;
          margin-right: 22px;
          &:last-child {
            margin-right:0;
          }
          &.blue {
            &:after {
              background: #153fca;
            }
          }
          &.yellow {
            &:after {
              background: #dfd80b;
            }
          }
          &:after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            background: #ff1d5b;
            left: 0;
            top: 50%;
            border-radius: 50%;
            margin-top: -6px;
          }
        }
    }
	marquee {
  		font-size: 16px;
  		color: #585858;
  		margin: 0 20px 0 184px;
	}
}
.trending-news-area-2 {
    background: #ffffff;
    margin-top: 30px;
    border-radius: 5px;
    position: relative;
    height: 60px;
    span.title {
        border-radius: 5px;
        background: $color-pink;
        height: 60px;
        display: inline-block;
        line-height: 60px;
        text-align: center;
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 20px;
        color: #fff;
    }
    .trending-slider {
        padding: 0 65px 0 202px;
        .item {
            font-size: 16px;
            color: #585858;
            height: 60px;
            line-height: 60px;
        }
        .owl-nav {
            position: absolute;
            right: 20px;
            top: 11px;
            button {
                background: transparent;
                border: 0;
                font-size: 24px;
                color: #7f7f7f;
                cursor: pointer;
                padding: 0;
                margin-left: 15px;
            }
        }
        .owl-dots {
            display: none;
        }
    }
}
.banner-slider {
    margin-bottom: 70px;
    .top-post-wrap-4 {
        margin-bottom: 0;
        .thumb {
          img {
            border-radius: 5px;
          }
        }
        .top-post-details {
            left: 40px;
            bottom: 50%;
            margin-bottom: -155px;
            h2 {
                color: #fff;
                font-size: 60px;
                font-weight: 700;
                padding-right: 40px;
                margin: 31px 0 26px;
            }
            .meta {   
                display: flex;
                .date {
                    margin-right: 13px;
                    i {
                        color: $color-pink;
                        font-size: 12px;
                    }
                }        
                .author {
                    display: inline-flex;
                    align-items: center;
                    i {
                        color: #dfb50b;
                        margin-right: 6px;
                        font-size: 12px;
                    }
                }
            }
            .time {
                color: #fff;
                margin-top: 13px;
                font-size: 14px;
                i {
                    color: #153fca;
                    font-size: 12px;
                }
            }
        }
    }
    .owl-nav {
        display: none;
    }
    .owl-dots {
        position: absolute;
        bottom: 23px;
        left: 50%;
        .owl-dot {
            height: 13px;
            width: 13px;
            margin-right: 5px;
            background: #ffffff;
            border-radius: 50%;
            border: 0;
            display: inline-block;
            cursor: pointer;
            transition: $transition;
            &:last-child {
                margin-right: 0;
            }
            &.active {
                background: $color-pink;
            }
        }
    }
}
.post-slider {
    .owl-nav {
        display: none;
    }
    .owl-dots {
        position: absolute;
        bottom: 50%;
        right: 20px;
        margin-bottom: -22px;
        .owl-dot {
            height: 13px;
            width: 13px;
            margin-bottom: 5px;
            background: #ffffff;
            border-radius: 50%;
            border: 0;
            display: block;
            cursor: pointer;
            transition: $transition;
            &:last-child {
                margin-right: 0;
            }
            &.active {
                background: $color-pink;
            }
        }
    }
}